<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https:maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> 
</head>
<body>
   <div class="container" style="background-color:antiquewhite">
        <!-- Jumbotron and Header-->
        <div class="jumbotron text-center" style="background-image: url(https://marshemispheres.com/images/full.jpg);">
            <h1 style="color:white">Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" data-toggle="tooltip" title="Scrape Data" role="button">Scrape Data</a></p>
        </div>

        <!--Mars News Section-->
        <div class="row" id="mars-news">
            <div class="col-md-12 text-center">
                <div class="media">
                    <div class="media-body">
                        <h2 style="color:darkred"><strong>Latest Mars News</strong></h2>
                        <h4 class="media-heading">{{data.news_title }}</h4>
                        <p>{{data.news_paragraph}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Featured Image and Facts Table Section-->
        <div class="row" id="mars_featured-image">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h2>Mars Featured Images</h2>

                <img src="{{data.featured_image_url | default('static/images/error.png', true) }}" 
                class="img-responsive" 
                alt="Responsive image"/>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="row" id="mars-facts">
                    <h2>Mars Facts</h2>
                    <table class="table table-bordered border-primary">{{data.mars_facts | safe }}</table>
                </div>
            </div>
        </div>

        <!--Mars Hemispheres Section-->
        <div class="row" id="mars-hemispheres">
            <div class="page-header">
                <h2 class="text-center">Mars Hemispheres</h2>
            </div>

            {% for hemisphere in data.hemispheres %}
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="{{hemisphere.img_url | default('static/images/error.png', true)}}" alt="...">
                    <div class="caption">
                        <h3>{{hemisphere.title}}</h3>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
   </div>
</body>
</html>